.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-bao-li-xi {
  width: 200px;
  animation: shake 0.25s ease infinite alternate;
  border-radius: 20px;
}

.gen-money {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-money {
  display: flex;
  width: 250px;
  transform: rotate(90deg);
  /* animation: xoaylixi 0.25s ease infinite alternate; */
}
.clicked {
  animation: lixi 0.5s ease-in-out forwards;
}

@keyframes shake {
  0% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes lixi {
  0% {
    top: 50%;
  }
  100% {
    top: 10%;
  }
}

@keyframes xoaylixi {
  0% {
    transform: rotate(87deg);
  }
  100% {
    transform: rotate(93deg);
  }
}
